# Bỏ qua thư mục cache Python
__pycache__/
*.py[cod]

# Bỏ folder data (nếu không muốn đẩy dữ liệu lên GitHub)
data/

# Bỏ file notebook checkpoints
*.ipynb_checkpoints

# VSCode settings (nếu dùng VSCode)
.vscode/

# File hệ thống
.DS_Store
Thumbs.db
